.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


canvas{
   /* background-color: black; */
   margin-left: 300px;
   position: relative;
   background-image: url(../images/background.PNG);
  }

 #text{
   cursor: pointer;
   position: absolute;
   top: 250px;
   left: 500px;
   height: 50px;
   width: 200px;
   font-size: 24px;
   background-color: transparent;
   border: none;
   color: white;
 } 

 #score{
  position: absolute;
  top: 0px;
  left: 310px;
  height: 30px;
  width: 30px;
  font-size: 24px;
  background-color:black;
  border: none;
  color:white;
 }

 #bullets{
  position: absolute;
  top: 0px;
  left: 810px;
  height: 30px;
  width: 90px;
  font-size: 20px;
  background-color:black;
  border: none;
  color:white;
 }

 #game-over{
  position: absolute;
  top: 200px;
  left: 500px;
  height: 50px;
  width: 200px;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: rgb(235, 238, 235);
  display: none;
} 


