body{
    background-color: rgb(227, 233, 238);
}
.wrapper-body{
    width : 65%;
    margin-left: 15%;
    margin-right: 20%;
}

.tab-window{
    margin-top: 20px;
}

.title{
    float: left;
    margin-right: 40%;
}

.main-wrapper{
    margin-top: 30px;
}

canvas{
    float: left;
}


.side-Legend{
    float: right;
}

.side-Legend ul{
    
    margin-top: 50%;
    margin-bottom: 50%;
    font-weight: bold;
    font-size: 15px;
    list-style: none;
}

.side-Legend ul li{
    font-weight: normal;
    font-size: 11px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.colorSpan{
    float: left;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10%;
}

.algorithm-Information{
    line-height: 20px;
}
