canvas{
    float: left;
    margin-right: 5%;
}


.side-Legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    float: left;
    /* margin-right: 30%; */
}

.side-Legend ul{
    
    margin-top: 50%;
    margin-bottom: 50%;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}

.side-Legend ul li{
    font-weight: normal;
    font-size: 12px;
    margin-top: 10%;
    margin-bottom: 10%;
    /* list-style: none; */
}

.colorSpan{
    float: left;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10%;
}

.algorithm-Information{
    line-height: 20px;
}
