.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #button1{
    background-image: url(../images/li.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 45px;
    border:none;
    /* z-index: 5px; */
    position: absolute;
    top: 150px;
    cursor: pointer;
    background-color: Transparent;
  }
  
  #button2{
    background-image: url(../images/right-icon.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 45px;
    left: 755px;
    border:none;
    /* z-index: 5px; */
    position: absolute;
    top: 150px;
    cursor: pointer;
    background-color: Transparent;
  }

